<h1><%# @doctor.full_name %>'s Appointments</h1>
<%= link_to 'Add Appointment', appointment_new_path %>
<hr/>

<h2>Patients</h2>
<ul>
    <% @users.each do |user| %>
        <li>
            <%= user.full_name %>
            <br/>
            <%= link_to 'Remove', doctor_appointment_path(@doctor, user), method: :delete %>
        </li>
    <% end %>
</ul>
